.example {

  &_stack {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    padding: 5px;
    div {
      margin-top: 2px;
    }
  }

  a {
    text-decoration: none;
    color: $text_color;
  }
}