.friends {
  padding: 5px;
  display: flex;
  flex-direction: column!important;
  &__search {
    border-radius: 15px;
    background: #e6ebf1!important;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(230 235 241);

  }
}
.friend {

  
  
  &__widget {
    margin: 2px 0 2px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 15px;

    

    &_actions {
      display: flex;
      justify-content: space-between;
    }
  }
}