.home {

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  padding-top: 10px;
  &__carousel {
    font-size: 18px;
    margin: 0 80px 0 80px;
    @include mq($desktop) {
      margin: 0 10px 0 10px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__btn_box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn_1 {
      background-color: #04AA6D;
    }
    .btn_2 {
      background-color: #f89646;
    }

    a {
      padding: 10px 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 5px;
      border-radius: 10px;
      color: white;
    }
  }
  .img {
    width: 80%;
  }
  &_image_start {
    width: 60%;
    @include mq($desktop){
      width: 80%;
    }
  }
  &_theme {
    display: flex;
    @include mq($desktop){
      flex-direction: column;
      justify-content: space-between;
    }
    align-items: center;
    text-align: center;
    p span {
      font-weight: bold;
    }

    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}