body {
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
// button {
//   color: #fff;
// }

.css-ank3r8-MuiBadge-badge {
  font-size: 0.75rem!important;
  min-width: 8px!important;
  line-height: 1;
  padding: 0!important;
  height: 8px!important;
}


