$desktop: desktop;
$laptop: laptop;
$tablet: tablet;
$phablet: phablet;
$mobile: mobile;


$btn_color: rgb(146, 28, 28);
$btn_radius: 15px;
$text_color: black;


$background: rgba(242,242,242,1);


$border_card0: 0px 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px 0px rgba(0,0,0,0.1);
$border_card1: 0px 0px 5px 0px rgba(0,0,0,0.1), 0px 0px 1px 0px rgba(0,0,0,0.1);
$border_card2: 0px 2px 8px 0px rgba(0,0,0,0.1), 0px 1px 1px 0px rgba(0,0,0,0.1);
$border_card3: 0px 2px 12px 2px rgba(0,0,0,0.1), 0px 1px 2px 0px rgba(0,0,0,0.1);
$border_card4: 0px 8px 24px 4px rgba(0,0,0,0.1), 0px 2px 2px 0px rgba(0,0,0,0.1);